node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

.cache/
.DS_Store
*.snap
*.js.map

api/index.js
coverage/
.netlify/
netlify/functions/server/build/

.next/